<table class="table">
    <thead>
    <tr>
        <th>Authors ID</th>
        <th>Name</th>
        <th class="table-cell-actions">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="author in authors | filter : {id: search.$}" ng-mouseover="showPhoto(author.photo, $event)">
        <td>{{author.id}}{{search}}</td>
        <td>{{author.name}}</td>
        <td>
            <span class="glyphicon glyphicon-edit" ng-click="displayContent('displayEditAuthor'); setAuthorToEdit(author.id)"></span>
            <span class="glyphicon glyphicon-trash" ng-click="displayContent('displayRemoveAuthor'); setAuthorToRemove(author.id)"></span>
        </td>
    </tr>
    </tbody>
</table>
        <span>{{search}}</span> === <span>{{search.$}}</span>