<table class="table">
    <thead>
    <tr>
        <th>Authors ID</th>
        <th>Name</th>
        <th class="table-cell-actions">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="authors in authors | filter: search" ng-mouseover="asd(authors.photo, $event)">
        <td>{{authors.id}}</td>
        <td>{{authors.name}}</td>
        <td>
            <span class="glyphicon glyphicon-edit" ng-click="displayContent('displayEditAuthor'); setAuthorToEdit(authors.id)"></span>
            <span class="glyphicon glyphicon-trash"  ng-click="displayContent('displayRemoveAuthor'); setAuthorToRemove(authors.id)"></span>
        </td>
    </tr>
    </tbody>
</table>