<div>
    <!--<span>Total items in list: {{((books | filter:search).length)}}</span>-->
    <table class="table table-hover" ng-show="(books | filter:search).length">
        <thead>
            <tr>
                <th>Name</th>
                <th>Authors</th>
                <th>Date</th>
                <th>ID</th>
                <th class="table-cell-actions">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="book in books | filter:search">
                <td>{{book.name}}</td>
                <td class='authors'><span ng-repeat="author in getAuthorById(book.author)">{{author}}{{$last ? '' : ', '}}</span></td>
                <td>{{book.date}}</td>
                <td>{{book.id}}</td>
                <td>
                    <span class="glyphicon glyphicon-edit" data-toggle="modal" data-target="#myModal"  ng-click="displayContent('displayEditBook'); setItemsToEdit(book, 'book')"></span>
                    <span class="glyphicon glyphicon-trash" data-toggle="modal" data-target="#myModal"  ng-click="displayContent('displayConfirmationDialog'); setItemsToRemove(book.id, 'book')"></span>
                </td>
            </tr>
        </tbody>
    </table>

    <div ng-show="!((books | filter:search).length)">
        <div ng-show="books.length" class="bg-danger notfound">
            <span class="glyphicon glyphicon-alert"></span>
            <span>No results found for {{search.$}}</span>
        </div>
        <div ng-hide="books.length" class="bg-danger notfound">
            <span class="glyphicon glyphicon-alert"></span>
            <span>No books found in library</span>
        </div>
    </div>
</div>