<div ng-controller="booksController">
    <!--<span>Total items in list: {{((books | filter:search).length)}}</span>-->
    <table class="table table-hover" ng-show="(books | filter:search).length">
        <thead>
        <tr>
            <th>Name</th>
            <th>Authors</th>
            <th>Date</th>
            <th>ID</th>
            <th>Authors ID</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="books in books | filter:search">
            <td>{{books.name}}</td>
            <td>{{books.author}}</td>
            <td>{{books.date}}</td>
            <td>{{books.id}}</td>
            <td>{{getAuthorId(books.author)}}</td>
            <td>
                <span class="glyphicon glyphicon-edit" ng-click="editEntry"></span>
                <span class="glyphicon glyphicon-remove"></span>
                <span ng-hide="true" class="glyphicon glyphicon-trash"></span>
                <span ng-hide="true" class="glyphicon glyphicon-ok"></span>
            </td>
        </tr>
        </tbody>
    </table>

    <div ng-show="!((books | filter:search).length)" class="bg-danger notfound">
        <span class="glyphicon glyphicon-alert"></span>
        <span>No results found for {{search.$}}</span>
    </div>
</div>