<form id="add-book-block"
      ng-controller="booksController"
      ng-show="$showAddBookPanel"
      ng-submit="addBook()">
    <div>
        <label for="addbook-book-id">Book ID</label>
        <input type="text" id="addbook-book-id" ng-model="book.id"/>
    </div>
    <div>
        <label for="addbook-book-name">Book name</label>
        <input type="text" id="addbook-book-name" ng-model="book.name"/>
    </div>
    <div>
        <label for="addbook-book-date">Date</label>
        <input type="text" id="addbook-book-date" ng-model="book.date" min="0" max="2015" required/>
    </div>
    <div>
        <label for="addbook-author-id-drop">Author</label>
        <select name="" id="addbook-author-id-drop" ng-model="book.author" value="{{author.name}}">
            <option ng-repeat="author in authors">
                {{author.name}}
            </option>
        </select>
    </div>
    <input type="submit" value="Save book"/>
    <button ng-click="toggleAddBookPanel()">Cancel</button>
</form>