<form id="add-book-block"
      ng-controller="booksController"
      ng-show="showAddBookPanel"
      ng-submit="addBook()">
    <div>
        <label for="addbook-book-id">Book ID</label>
        <input type="text" id="addbook-book-id" ng-model="book.id"/>
    </div>
    <div>
        <label for="addbook-book-name">Book name</label>
        <input type="text" id="addbook-book-name" ng-model="book.name"/>
    </div>
    <div>
        <label for="addbook-book-date">Date</label>
        <input type="text" id="addbook-book-date"
               ng-model="book.date" ng-min="0" ng-max="2015" required/>
    </div>
    <div>
        <label for="addbook-author-id-drop">Author</label>
        <select name="testtest" id="addbook-author-id-drop"
                ng-model="book.author"
                ng-options="authors.name as authors.name for authors in authors"
                >
            <option value="" ng-if="false"></option>
        </select>
    </div>
    <input type="submit" value="Save book" class="btn btn-warning"/>
    <input type="button" ng-click="toggleAddBookPanel()" class="btn btn-warning" value="Cancel">
</form>