<form id="add-author-block"
      ng-controller="booksController as booksCtrl"
      ng-show="appCtrl.showAddAuthorPanel"
      ng-submit="booksCtrl.addAuthor()">
    <div>
        <label for="addauthor-author-id">Author ID</label>
        <input type="text" id="addauthor-author-id" ng-model="booksCtrl.author.id"/>
    </div>
    <div>
        <label for="addauthor-author-name">Author name</label>
        <input type="text" id="addauthor-author-name" ng-model="booksCtrl.author.name"/>
    </div>
    <input type="submit" value="Save author"/>
    <button ng-click="appCtrl.toggleAddAuthorPanel()">Cancel</button>
</form>