<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{returnCurrentDialogTitle()}}</h4>
            </div>
            <add-book ng-if="displayDialogContent.displayAddBook"></add-book>
            <add-author ng-if="displayDialogContent.displayAddAuthor"></add-author>
            <edit-book ng-if="displayDialogContent.displayEditBook"></edit-book>
            <remove-book-dialog ng-if="displayDialogContent.displayRemoveBook"></remove-book-dialog>
            <remove-author-dialog ng-if="displayDialogContent.displayRemoveAuthor"></remove-author-dialog>
        </div>
    </div>
</div>
<div class="control-wrappwer">
    <button id="add-book" class="btn btn-success" ng-click="displayContent('displayAddBook')">
        Add book
    </button>
    <button id="add-author" class="btn btn-success" ng-click="displayContent('displayAddAuthor')">
        Add author
    </button>
</div>